.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: transparent;
  padding: 0 0px;
  position: fixed;
  top: 0;
  left: 0;
  width: calc(100%);
  z-index: 999;
  height: 80px;
  background-color: rgba(26, 29, 33, 0.99);
  /* box-shadow: 0 3px 2px -2px rgba(126,209,228,0.3); */
}

.linkContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 40px;
  padding-right: 40px;
}

.link {
  color: white;
  text-decoration: none;
  text-transform: capitalize;
  font-weight: normal;
}

.link:hover,
.active {
  /* text-decoration: underline; */
  background-color: rgba(126, 209, 228, 0.56);
  padding: 10px;
  border-radius: 10px;
  cursor: pointer;
}

.sidebar {
  display: none;
}

.iconBtn {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  border: none;
  cursor: pointer;
  padding: 15px;
  position: absolute;
  top: 0;
  right: 0;
}

/* .iconBtn:hover {
  background-color: rgba(255, 255, 255, 0.56);
  border-radius: 10px;
  cursor: pointer;
} */

.menu {
  display: none;
}

.mainLogo {
  width: 70px;
  height: 70px;
  padding-top: 20px;
  padding-left: 20px;
}

@media screen and (max-width: 480px) {
  .linkContainer {
    display: none;
  }

  .menu {
    display: flex;
    padding-right: 20px;
  }

  .mainLogo {
    width: 55px;
    height: 55px;
    padding-top: 5px;
    padding-left: 20px;

  }

  .sidebar {
    position: fixed;
    right: 0;
    top: 0;
    bottom: 0;
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.85);
    animation: slide 0.3s ease-out;
  }
}

@keyframes slide {
  0% {
    transform: translateX(100%);
  }

  100% {
    transform: translateX(0);
  }
}